<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Show film</title>
</head>

<body>
    <div class="container">
        Showing film with id
        <%= film.id %>
            <br> Name:
            <%= film.name %>
                <br> Tags:
                <%= film.tags %>
    </div>
</body>

</html>