<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/film" enctype="multipart/form-data" method="POST">
        <div>
            <label for="name">Name</label>
            <input required type="text" name="name" id="name">
        </div>
        <div>
            <label for="tags">Tags</label>
            <textarea name="tags" id="tags"></textarea>
        </div>
        <div>
            <label for="file">Film</label>
            <input type="file" name="film" id="film" required>
        </div>
        <div>
            <label for="miniature">Miniature</label>
            <input type="file" name="image" id="image" required>
        </div>
        <a href="/">Cancel</a>
        <button type="submit">Upload</button>
    </form>
</body>

</html>